body
{
	/*background-image:url('images/background.jpg');*/
	/*background-color:rgb(224,224,0);*/
	/*background-color:rgb(240,240,128);/*240); <- I like this, looks like pale Macaroni*/ 
	background-color:rgb(0,0,128);
}

table.root-table
{
	background-color: rgb(240, 240, 240);
	color:black;
	height: 100%;
	vertical-align: top;
}

table.root-table tr.flag td.tl
{
	background-image:url('<?php echo $root ?>images/cornerTL.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top; 
	width: 7px;
	border-left: 0;
	border: none;
	border-top: 0;
}

table.root-table tr.flag td.tcenter
{ 
	border-bottom: 3px solid #f0f000; 
	background-image:url('<?php echo $root ?>images/macaroniflag.gif');
	background-repeat: no-repeat;
	background-position:center;
	/*background-color:rgb(240,240, 0);*/
	/*background-color:rgb(240,240, 0);*/
	/*background-color: yellow; */
	/* color: rgb(230, 255, 100); */
	color: rgb(128, 128,0);/*rgb(96, 96, 0);*/
	font-family:"Times New Roman";
	font-size:200%;
	height:65;
	width:100% 
}



/* How bjam code appears. */
table.root-table tbody tr td.main div.code-bjam
{
	background-color: white;
	color:black;
	font-family: monospace;
}

/* Anything else that should be fixed width. */
table.root-table tbody tr td.main div.code-other
{
	background-color: white;
	color:black;
	font-family: monospace;
}

/* How C++ code appears. */
table.root-table tbody tr td.main div.code-cpp
{
	background-color: rgb(0,0,64);
	color:rgb(0, 240, 0);
	font-family: monospace;
}

/* How Macaroni code appears. */
table.root-table tbody tr td.main div.code-mcpp
{
	background-color: rgb(240,240,128);
	color:rgb(0, 0, 128);
	font-family: monospace;
	font-weight: bold;
}
table.root-table tbody tr td.main div.code-mcpp-inline
{
	background-color: rgb(240,240,128);
	color:rgb(0, 0, 128);
	font-family: monospace;
	font-weight: bold;
	display: inline;
}

/* Those links at the top.  */
table.root-table tbody tr td table tbody tr td a
{
	color:black;
	background-color:white;
	border-style: solid;
	border-spacing:2px;
	border-color: yellow;
}


table.root-table tr.flag td.author-quote
{ 
	color: rgb(255, 255, 255);	
	font-family:"Times New Roman";
	font-weight:bold;
	font-size:10%;
	height:65;
	float:right;
	width:100% 
}

author-quote
{ 
	color: rgb(255, 255, 255);
	font-family:"Times New Roman";
	font-weight:bold;
	font-size:10%;
	height:65;
	float:right;
	width:100% 
}

table.root-table tbody tr td.cr-notice
{ 
	color: rgb(255, 255, 255);
	font-family:"Times New Roman";
	font-weight:bold;
	font-size:75%;
	width:100%;
	color: blue;	
	border-bottom: none;
	margin: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	position: relative;
	top:70px;
}

div.cr-notice
{ 
	display:inline
	color: rgb(255, 255, 255);
	font-family:"Times New Roman";
	font-weight:bold;
	font-size:75%;	
	width:100%;s	
	vertical-align: bottom;
	color: #CCCCCC;	
	border-bottom: none;
	margin: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
}


table.under-root tr
{
}

table.under-root td.sidebar-item
{
	background-color: rgb(240,240,240);
	border-bottom-color: yellow;
	color:black;
	/* background-image:url('images/background.jpg'); */
	font-family:"Times New Roman";
	font-weight:bold;
	font-size:80%;
}


table.under-root td.main
{
	color:black;
	background-color: background-color:rgb(240,240,240);
	border-bottom-color: yellow;
	font-family:"helvetica, arial, sans-serif";
	font-weight:normal;
	font-size:80%;
	opacity: 0.9;

}


code
{
	color:black;
	background-color: white;
	border-bottom-color: yellow;
	font-family:"helvetica, arial, sans-serif";
	font-weight:normal;
	font-size:120%;
}

pre.lua-code
{
	color:black;
	/*color:#EEEE00;
	color:#EC7400;*/
	/*background-color: #F0F0C7;*/
	background-color: #EEEEBB;
	border-bottom-color: yellow;
	font-family:'Courier New', helvetica, monospace;
	font-weight:normal;
	/*font-size:120%;*/
}

pre.shell
{
	color:#DDFFDD;
	background-color: #001C00;
	border-bottom-color: yellow;
	font-family:'Courier New', helvetica, monospace;
	font-weight:normal;
}
}