GeneratedSource
LibrariesClone
target
*.ncb
*.suo
*.vcproj.*.user
.vagrant
.eprj
Main/App/Debug*
Main/Generators/Debug*
Main/Libraries/Debug*
Main/App/Ubuntu_GS*
*.sln
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
